#loading-text {
  font-size: 3vw;
  text-align: center;
  margin-top: 15%;
  animation: loading 2s infinite ease-in;
}

@keyframes loading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@media (max-width: 1024px) {
  #loading-text {
    font-size: 7vw;
  }
}

@media (max-width: 500px) {
  #loading-text {
    font-size: 10vw;
  }
}
